.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 92px 50px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__links-list {
  display: flex;
  gap: 30px;
  list-style: circle;
}

.header__links-list-item {
  text-decoration: underline;
  text-underline-position: under;
}

.header__links-list-item_no-bullit {
  list-style: none;
  text-decoration: none;
}

.header__logo {
  display: flex;
  justify-content: center;
}

.logo-black {
  max-height: 105px;
}

.address {
  display: flex;
  justify-content: end;
  align-items: center;
}

.header__address {
  line-height: 24px;
}




