.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 92px 50px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
  font-size: 18px;
}

.header__links-list-item {
  text-decoration: underline;
  text-underline-position: under;
  line-height: 21px;
  font-weight: normal;
}

.header__links-list-item_no-bullit {
  list-style: none;
  text-decoration: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: flex;
  justify-content: center;
}

.header__logo-image {
  max-height: 105px;
}

.address {
  display: flex;
  justify-self: end;
  justify-content: end;
  align-items: center;
  text-underline-position: under;
  line-height: 24.3px;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 757px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.cover * {
  z-index: 1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  padding: 165px 50px 125px;
  row-gap: 6px;  
  text-transform: uppercase;
  font-size: 100px;
  color: #fff;
}

.cover__title {
  letter-spacing: 0.3em;
  z-index: 1;
}

.aligned-text_center {
  align-self: center;
  
}

.aligned-text_right {
  align-self: end;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.65em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 50px;
  column-gap: 78px;
  text-transform: uppercase;
  font-size: 40px;
  color: #000;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  font-weight: normal;
  word-spacing: 0.85em;
  z-index: 1;
  font-weight: normal;
  line-height: 28px;
}

.bet__button {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: solid #fff 1px;
  font-size: 22px;
  padding: 15px 32px;
  z-index: 1;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 21px;
}

.lots {
  display: flex;
  flex-direction: column;
  padding: 195px 50px 0;
}

.lots__heading {
  padding-left: 40px;
  padding-bottom: 40px;
  text-transform: uppercase;
  font-size: 40px;
  color: #000;
  font-weight: bold;
  line-height: 21px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
}

.lots__card-list-item {
  min-height: 450px;
  flex-basis: 430px;
  flex-grow: 1;
}

.card-link {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
  padding: 50px 40px;
}

.card * {
  z-index: 1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

.card__title {
  text-transform: uppercase;
  font-size: 22px;
  color: #fff;
  text-decoration: underline;
  text-underline-position: under;
  font-weight: bold;
  line-height: 120%;
}

.card__text {
  font-size: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  line-height: 120%;
}

.lots__look-more-link {
  padding-top: 30px;
  padding-left: 40px;
  color: #000;
  font-size: 20px;
  text-underline-position: under;
  font-weight: normal;
  line-height: 23px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 50% 50%;
  column-gap: 25px;
  padding: 181px 50px 0;
}

.about__logo {
  display: flex;
  justify-content: center;
  grid-column: 1/2;
  grid-row: 1/3;
}

.about__logo-background {
  display: flex;
  align-items: center;
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.about__logo-image {
  max-height: 115px;
}

.about__column {
  grid-column: 2/4;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about__title {
  padding: 100px 0;
  text-transform: uppercase;
  font-size: 40px;
  color: #000;
  font-weight: bold;
  line-height: 47px;
}

.about__text {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.about__text_paragraph {
  font-size: 20px;
  line-height: 23px;
  font-weight: normal;
}

.footer {
  display: flex;
  padding: 185px 50px 90px; 
  width: 100%;
  justify-content: space-between;
}

.footer .address {
  justify-content: flex-start;
}

.footer__menu {
  text-align: center;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__menu-list-item {
  line-height: 21px;
  font-weight: normal;
  font-size: 18px;
}

.footer__menu-link-active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  max-width: 48px;
  max-height: 48px;
}
